.root {
  padding: 20px;
  border-radius: 26px;
  background-color: #f7f7f7;
  box-shadow: 0 -2px 4px rgba(48, 72, 118, 0.08);

  .title {
    margin-bottom: 20px;
    font-size: 26px;
    color: #dd0a34;
  }

  .menu {
    margin-bottom: 15px;
  }
}
